.info-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 200px;
    margin-bottom: 50px;
}

.notice {
    background-color: gainsboro;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    
}

.null {
    margin-top: 80px;
}